@import "tailwindcss";

@import './css/style.css';
@import './css/store.css';

:root {
  --background: #f7f9fc;
  --foreground: #1e293b;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-main);
  direction: rtl;
}
