# Cloudinary Credentials (Required for persistent image storage)
SNAPRENDER_API_KEY=
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Server Port
PORT=5000

# MongoDB URI (Example)
# MONGODB_URI=mongodb://localhost:27017/ecommerce
